@page "/balance/list"
@inherits ListBase

<div class="text-center alert alert-secondary mt-4">
    <h1>Balances generales</h1>
</div>
<div class="row">
    @if (Records != null && Records.Any())
    {
        foreach (var item in Records)
        {
            <div class="col-3">
                <div class="card text-center">
                    <div class="card-header">
                        <div class="card-title">
                            <h2>@item.Name</h2>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-title text-left">Activos</div>
                        <div class="card-text">$@item.AssetValue</div>
                        <br />
                        <div class="card-title text-left">Costos</div>
                        <div class="card-text">$@item.CostValue</div>
                        <br />
                        <div class="card-title text-left">Ingresos</div>
                        <div class="card-text">$@item.GainValue</div>
                        <br />
                        <div class="card-title text-left">Egresos</div>
                        <div class="card-text">$@item.LossValue</div>
                    </div>
                    <div class="card-footer text-right">
                        <h3>Total: $@item.TotalBalance</h3>
                        <button type="button" class="btn btn-primary">Corte</button>
                    </div>
                </div>
            </div>
        }
    }
</div>