@page "/projectsubtype/add"
@inherits AddBase

<h1>Agregar sub-tipo</h1>

<EditForm Model="@Record" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-row">
        <div class="col form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" @bind="Record.Name" />
        </div>
        <FormSelectEnum @bind-Value="Record.ProjectType" Records="ProjectTypes" Title="Tipos"></FormSelectEnum>
    </div>

    <div class="form-row">
        <div class="col form-group">
            <label>Descripcion</label>
            <textarea rows="5" class="form-control" @bind="Record.Description"></textarea>
        </div>
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
    <button type="button" class="btn btn-secondary" @onclick="OnCancelClick">Cancelar</button>
</EditForm>