@page "/client/add"
@inherits AddBase

<h1>Add client</h1>

<EditForm Model="@Record" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-row">
        <div class="col form-group">
            <label>Client name</label>
            <input type="text" class="form-control" @bind="Record.Name" />
        </div>
        <div class="col form-group">
            <label>Email address</label>
            <input type="email" class="form-control" @bind="Record.Email" />
        </div>
    </div>

    <div class="form-row">
        <div class="col form-group">
            <label>Cellphone</label>
            <input type="tel" class="form-control" @bind="Record.Cellphone" />
        </div>
        <div class="col form-group">
            <label>Telephone</label>
            <input type="tel" class="form-control" @bind="Record.Telephone" />
        </div>
    </div>

    <div class="form-row">
        <div class="col form-group">
            <label>Address</label>
            <input type="text" class="form-control" @bind="Record.Address" />
        </div>
        <div class="col form-group">
            <label>Address ext.</label>
            <input type="text" class="form-control" @bind="Record.AddressExt" />
        </div>
        <div class="col form-group">
            <label>Country</label>
            <input type="text" class="form-control" @bind="Record.Country" />
        </div>
    </div>

    <div class="form-row">
        <div class="col form-group">
            <label>State</label>
            <input type="text" class="form-control" @bind="Record.State" />
        </div>
        <div class="col form-group">
            <label>City</label>
            <input type="text" class="form-control" @bind="Record.City" />
        </div>
        <div class="col form-group">
            <label>Zip</label>
            <input type="number" class="form-control" @bind="Record.Zip" />
        </div>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <button type="button" class="btn btn-secondary" @onclick="OnCancelClick">Cancel</button>
</EditForm>