@page "/monetaryagent/add"
@inherits AddBase

<h1>Agregar cuenta</h1>

<EditForm Model="@Record" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-row">
        <div class="col form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" @bind="Record.Name" />
        </div>
        <FormSelectRecord @bind-Value="Record.PeopleId" Records="Record.Enterprises" Title="Personas"></FormSelectRecord>
    </div>

    <div class="form-row">
        <div class="col form-group">
            <label>Cuenta</label>
            <input type="number" class="form-control" @bind="Record.AccountNumber" />
        </div>
        <div class="col form-group">
            <label>Tarjeta</label>
            <input type="number" class="form-control" @bind="Record.CardNumber" />
        </div>
        <FormSelectEnum @bind-Value="Record.MonetaryAgentType" Records="MonetaryAgentTypes" Title="Agentes"></FormSelectEnum>
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
    <button type="button" class="btn btn-secondary" @onclick="OnCancelClick">Cancelar</button>
</EditForm>