@page "/account/add"
@inherits AddBase

<h1>Add account</h1>

<EditForm Model="@Record" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-row">
        <div class="col form-group">
            <label>Account name</label>
            <input type="text" class="form-control" @bind="Record.Name" />
        </div>
        <FormSelectRecord @bind-Value="Record.ClientId" Records="Record.Clients" Title="Clients"></FormSelectRecord>
    </div>

    <div class="form-row">
        <div class="col form-group">
            <label>Account number</label>
            <input type="number" class="form-control" @bind="Record.AccountNumber" />
        </div>
        <div class="col form-group">
            <label>Card number</label>
            <input type="number" class="form-control" @bind="Record.CardNumber" />
        </div>
        <FormSelectEnum @bind-Value="Record.AccountType" Records="AccountTypes" Title="Account types"></FormSelectEnum>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <button type="button" class="btn btn-secondary" @onclick="OnCancelClick">Cancel</button>
</EditForm>