@page "/enterprise/list"
@inherits ListBase

<h1>Empresas</h1>

<div class="text-right">
    <a href="enterprise/add" class="btn btn-primary"><span class="oi oi-plus"></span> Agregar empresa</a>
</div>

@if (Records == null)
{
    <p>
        <em>Cargando...</em>
    </p>
}
else
{
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Empresa</th>
                <th>Email</th>
                <th>Celular</th>
                <th>Direccion</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var record in Records)
            {
                <tr>
                    <td>@record.Name</td>
                    <td>@record.Email</td>
                    <td>@record.Cellphone</td>
                    <td>@record.Address</td>
                    <td>
                        <a href="enterprise/edit/@record.Id">
                            <span class="oi oi-pencil"></span>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}