@page "/costtype/list"
@inherits ListBase

<h1>Cost types</h1>

<div class="text-right">
    <a href="costtype/add" class="btn btn-primary"><span class="oi oi-plus"></span> Add cost type</a>
</div>

@if (Records == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Cost Type</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var record in Records)
        {
            <tr>
                <td>@record.Name</td>
                <td>@record.Description</td>
                <td><a href="costtype/edit/@record.Id"><span class="oi oi-pencil"></span></a></td>
            </tr>
        }
        </tbody>
    </table>
}