@page "/losstype/edit/{id}"
@inherits EditBase

<h1>Edit loss type</h1>

<div class="text-right">
    <button type="button" class="btn btn-outline-danger" @onclick="OnDeleteClick"><span class="oi oi-x"></span> Delete loss type</button>
</div>

<EditForm Model="@Record" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <input type="hidden" class="form-control" @bind="Record.Id" />

    <div class="form-row">
        <div class="col form-group">
            <label>Loss Type</label>
            <input type="text" class="form-control" @bind="Record.Name" />
        </div>
    </div>

    <div class="form-row">
        <div class="col form-group">
            <label>Description</label>
            <input type="text" class="form-control" @bind="Record.Description" />
        </div>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <button type="button" class="btn btn-secondary" @onclick="OnCancelClick">Cancel</button>
</EditForm>