@using InmobiliariaDashboard.Shared.ViewModels

<br />

<div class="text-right">
    <h3>Archivos adjuntos</h3>

    @if (Records == null)
    {
        <p>
            <em>Cargando...</em>
        </p>
    }
    else
    {
        <ul>
            @foreach (var record in Records)
            {
                <li>
                    <a href="@record.Url">@record.Url</a>
                </li>
            }
        </ul>
    }
</div>

@code {

    [Parameter]
    public IEnumerable<AttachmentViewModel> Records { get; set; }

}