@using InmobiliariaDashboard.Shared.ViewModels

<div class="text-right">
    <h4>Adjuntos</h4>

    @if (Records == null)
    {
        <p>
            <em>Cargando...</em>
        </p>
    }
    else
    {
        @foreach (var record in Records)
        {
            <div class="row">
                <div class="col">
                    <a href="@record.Url">@($"{record.Name}.{record.ExtensionType}")</a>
                </div>
            </div>
        }
    }
</div>

@code {

    [Parameter]
    public IEnumerable<AttachmentViewModel> Records { get; set; }

}