<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">InDash</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="client/list">
                <span class="oi oi-people" aria-hidden="true"></span> Clients
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="project/list">
                <span class="oi oi-project" aria-hidden="true"></span> Projects
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="cost-type/list">
                <span class="oi oi-dollar" aria-hidden="true"></span> Cost types
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="gain-type/list">
                <span class="oi oi-thumb-up" aria-hidden="true"></span> Gain types
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="loss-type/list">
                <span class="oi oi-thumb-down" aria-hidden="true"></span> Loss types
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="report/list">
                <span class="oi oi-file" aria-hidden="true"></span> Reports
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool _collapseNavMenu = true;
    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
