@using InmobiliariaDashboard.Shared
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">InMoDash.com</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="balance/list">
                <span class="oi oi-clock" aria-hidden="true"></span> Balances rapidos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="reminder/list">
                <span class="oi oi-bell" aria-hidden="true"></span> Recordatorios
            </NavLink>
        </li>
        <li class="nav-item px-3"><hr /></li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="enterprise/list">
                <span class="oi oi-book" aria-hidden="true"></span> Personas
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink @onclick="()=> SubMenuNavigation.ProjectSubMenu = !SubMenuNavigation.ProjectSubMenu" class="nav-link">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Proyectos <span class="oi oi-caret-right" aria-hidden="true"></span>
            </NavLink>
        </li>
        @if (SubMenuNavigation.ProjectSubMenu)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="projectsubtype/list">
                    Sub-tipos
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="project/list">
                    Alta
                </NavLink>
            </li>
            <li class="nav-item px-3"><hr /></li>
        }

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="contact/list">
                <span class="oi oi-people" aria-hidden="true"></span> Contactos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="monetaryagent/list">
                <span class="oi oi-credit-card" aria-hidden="true"></span> Cuentas
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink @onclick="()=> SubMenuNavigation.AssetSubMenu = !SubMenuNavigation.AssetSubMenu" class="nav-link">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Activos <span class="oi oi-caret-right" aria-hidden="true"></span>
            </NavLink>
        </li>
        @if (SubMenuNavigation.AssetSubMenu)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="assettype/list">
                    Tipos de activos
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="asset/list">
                    Alta
                </NavLink>
            </li>
            <li class="nav-item px-3"><hr /></li>
        }

        <li class="nav-item px-3">
            <NavLink @onclick="()=> SubMenuNavigation.CostSubMenu = !SubMenuNavigation.CostSubMenu" class="nav-link">
                <span class="oi oi-dollar" aria-hidden="true"></span> Gastos <span class="oi oi-caret-right" aria-hidden="true"></span>
            </NavLink>
        </li>
        @if (SubMenuNavigation.CostSubMenu)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="costtype/list">
                    Tipos de gastos
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="cost/list">
                    Alta
                </NavLink>
            </li>
            <li class="nav-item px-3"><hr /></li>
        }

        <li class="nav-item px-3">
            <NavLink @onclick="()=> SubMenuNavigation.GainSubMenu = !SubMenuNavigation.GainSubMenu" class="nav-link">
                <span class="oi oi-thumb-up" aria-hidden="true"></span> Ingresos <span class="oi oi-caret-right" aria-hidden="true"></span>
            </NavLink>
        </li>
        @if (SubMenuNavigation.GainSubMenu)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="gaintype/list">
                    Tipos de ingresos
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="gain/list">
                    Alta
                </NavLink>
            </li>
            <li class="nav-item px-3"><hr /></li>
        }

        <li class="nav-item px-3">
            <NavLink @onclick="()=> SubMenuNavigation.LossSubMenu = !SubMenuNavigation.LossSubMenu" class="nav-link">
                <span class="oi oi-thumb-down" aria-hidden="true"></span> Perdidas <span class="oi oi-caret-right" aria-hidden="true"></span>
            </NavLink>
        </li>
        @if (SubMenuNavigation.LossSubMenu)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="losstype/list">
                    Tipos de perdidas
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="loss/list">
                    Alta
                </NavLink>
            </li>
            <li class="nav-item px-3"><hr /></li>
        }

        <li class="nav-item px-3">
            <NavLink @onclick="() => SubMenuNavigation.ReportSubMenu = !SubMenuNavigation.ReportSubMenu" class="nav-link">
                <span class="oi oi-document" aria-hidden="true"></span> Reportes <span class="oi oi-caret-right" aria-hidden="true"></span>
            </NavLink>
        </li>
        @if (SubMenuNavigation.ReportSubMenu)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="report/general">
                    Balance general
                </NavLink>
            </li>
            <li class="nav-item px-3"><hr /></li>
        }
    </ul>
</div>

@code {
    private bool _collapseNavMenu = true;
    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;
    private SubMenuNavigation SubMenuNavigation { get; set; } = new SubMenuNavigation();

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
