@page "/project/add"
@inherits AddBase

<h1>Agregar proyecto</h1>

<EditForm Model="@Record" OnValidSubmit="@HandleValidSubmit" enctype="multipart/form-data">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-row">
        <div class="col form-group">
            <label>Proyecto</label>
            <input type="text" class="form-control" @bind="Record.Name" />
        </div>
        <div class="col form-group">
            <label>Codigo</label>
            <input type="text" class="form-control" @bind="Record.Code" />
        </div>
    </div>

    <div class="form-row">
        <div class="col form-group">
            <label>Fecha de inicio</label>
            <input type="date" class="form-control" @bind="Record.StartDate" />
        </div>
        <div class="col form-group">
            <label>Fecha de fin</label>
            <input type="date" class="form-control" @bind="Record.EndDate" />
        </div>
    </div>

    <div class="form-row">
        <FormSelectRecord @bind-Value="Record.EnterpriseId" Records="Record.Enterprises" Title="Empresas"></FormSelectRecord>
        <FormSelectEnum @bind-Value="Record.ProjectType" Records="ProjectTypes" Title="Tipos de proyectos"></FormSelectEnum>
        <FormSelectRecord @bind-Value="Record.ProjectSubTypeId" Records="Record.ProjectSubTypes" Title="Sub-tipos de proyectos"></FormSelectRecord>
    </div>

    <div class="form-row">
        <div class="col form-group">
            <label>Adjuntos</label>
            <InputFile OnChange="HandleFileSelection" multiple />
        </div>
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
    <button type="button" class="btn btn-secondary" @onclick="OnCancelClick">Cancelar</button>
</EditForm>