@page "/project/add"
@inherits AddBase

<h1>Agregar proyecto</h1>

@if (Saving)
{
    <div class="alert alert-info mt-4">
        <div class="spinner-border ml-auto text-primary" role="status" aria-hidden="true"></div>
        <string>Guardando...</string>
    </div>
}

<EditForm Model="@Record" OnValidSubmit="@HandleValidSubmit" enctype="multipart/form-data">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-row">
        <div class="col form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" @bind="Record.Name" />
        </div>
        <div class="col form-group">
            <label>Codigo</label>
            <input type="text" class="form-control" @bind="Record.Code" />
        </div>
    </div>

    <div class="form-row">
        <div class="col form-group">
            <label>Inicio</label>
            <input type="date" class="form-control" @bind="Record.StartDate" />
        </div>
        <div class="col form-group">
            <label>Fin</label>
            <input type="date" class="form-control" @bind="Record.EndDate" />
        </div>
    </div>

    <div class="form-row">
        <FormSelectRecord @bind-Value="Record.EnterpriseId" Records="Record.Enterprises" Title="Empresas"></FormSelectRecord>
        <FormSelectEnum @bind-Value="Record.ProjectType" Records="ProjectTypes" Title="Tipos"></FormSelectEnum>
        <FormSelectRecord @bind-Value="Record.ProjectSubTypeId" Records="Record.ProjectSubTypes" Title="Sub-tipos"></FormSelectRecord>
    </div>

    <div class="form-row">
        <div class="col form-group">
            <label>Adquisicion</label>
            <input type="number" class="form-control" @bind="Record.PurchasePrice" />
        </div>
        <div class="col form-group">
            <label>Venta minima</label>
            <input type="number" class="form-control" @bind="Record.MinimumSellingPrice" />
        </div>
        <div class="col form-group">
            <label>Venta maxima</label>
            <input type="number" class="form-control" @bind="Record.MaximumSellingPrice" />
        </div>
    </div>

    <div class="form-row">
        <div class="col form-group">
            <label>Adjuntos</label>
            <InputFile OnChange="HandleFileSelection" class="custom-select" multiple />
        </div>
    </div>

    <button type="submit" class="btn btn-success" disabled="@Saving">Guardar</button>
    <button type="button" class="btn btn-secondary" @onclick="OnCancelClick">Cancelar</button>
</EditForm>