@page "/project/add"
@inherits AddBase

<h1>Add project</h1>

<EditForm Model="@Record" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-row">
        <div class="col form-group">
            <label>Project name</label>
            <input type="text" class="form-control" @bind="Record.Name" />
        </div>
        <FormSelectRecord @bind-Value="Record.ClientId" Records="Record.Clients" Title="Clients"></FormSelectRecord>
    </div>

    <div class="form-row">
        <div class="col form-group">
            <label>Start date</label>
            <input type="date" class="form-control" @bind="Record.StartDate" />
        </div>
        <div class="col form-group">
            <label>End date</label>
            <input type="date" class="form-control" @bind="Record.EndDate" />
        </div>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <button type="button" class="btn btn-secondary" @onclick="OnCancelClick">Cancel</button>
</EditForm>