@page "/project/list"
@inherits ListBase

<h1>Proyectos</h1>

<div class="text-right">
    <a href="project/add" class="btn btn-primary"><span class="oi oi-plus"></span> Agregar proyecto</a>
</div>

@if (Records == null)
{
    <p>
        <em>Cargando...</em>
    </p>
}
else
{
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Proyecto</th>
                <th>Empresa</th>
                <th>Fecha de inicio</th>
                <th>Fecha de fin</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var record in Records)
            {
                <tr>
                    <td>@record.Name</td>
                    <td>@record.EnterpriseName</td>
                    <td>@record.StartDate</td>
                    <td>@(record.EndDate?.ToString("yyyy MMMM dd") ?? "-")</td>
                    <td>
                        <a href="project/edit/@record.Id">
                            <span class="oi oi-pencil"></span>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}