@page "/gaintype/add"
@inherits AddBase

<h1>Add cost type</h1>

<EditForm Model="@Record" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-row">
        <div class="col form-group">
            <label>Gain Type</label>
            <input type="text" class="form-control" @bind="Record.Name" />
        </div>
    </div>

    <div class="form-row">
        <div class="col form-group">
            <label>Description</label>
            <input type="text" class="form-control" @bind="Record.Description" />
        </div>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <button type="button" class="btn btn-secondary" @onclick="OnCancelClick">Cancel</button>
</EditForm>