@page "/asset/add"
@inherits AddBase

<h1>Agregar activo</h1>

<EditForm Model="@Record" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-row">
        <div class="col form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" @bind="Record.Name" />
        </div>
        <div class="col form-group">
            <label>Valor</label>
            <input type="number" class="form-control" @bind="Record.Value" />
        </div>
        <div class="col form-group">
            <label>Cantidad</label>
            <input type="number" class="form-control" @bind="Record.Quantity" />
        </div>
    </div>

    <div class="form-row">
        <FormSelectRecord @bind-Value="Record.PeopleId" Records="Record.Enterprises" Title="Personas"></FormSelectRecord>
        <FormSelectRecord @bind-Value="Record.AssetTypeId" Records="Record.AssetTypes" Title="Tipos"></FormSelectRecord>
    </div>

    <div class="form-row">
        <div class="col form-group">
            <label>Descripcion</label>
            <textarea rows="5" class="form-control" @bind="Record.Description"></textarea>
        </div>
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
    <button type="button" class="btn btn-secondary" @onclick="OnCancelClick">Cancelar</button>
</EditForm>