@page "/asset/edit/{id}"
@inherits EditBase

<h1>Editar activo</h1>

<div class="text-right">
    <button type="button" class="btn btn-outline-danger" @onclick="OnDeleteClick"><span class="oi oi-x"></span> Borrar</button>
</div>

<EditForm Model="@Record" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <input type="hidden" class="form-control" @bind="Record.Id" />

    <div class="form-row">
        <div class="col form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" @bind="Record.Name" />
        </div>
        <div class="col form-group">
            <label>Valor</label>
            <input type="number" class="form-control" @bind="Record.Value" />
        </div>
        <div class="col form-group">
            <label>Cantidad</label>
            <input type="number" class="form-control" @bind="Record.Quantity" />
        </div>
    </div>

    <div class="form-row">
        <FormSelectRecord @bind-Value="Record.EnterpriseId" Records="Record.Enterprises" Title="Empresas"></FormSelectRecord>
        <FormSelectRecord @bind-Value="Record.AssetTypeId" Records="Record.AssetTypes" Title="Tipos"></FormSelectRecord>
    </div>

    <div class="form-row">
        <div class="col form-group">
            <label>Descripcion</label>
            <input type="text" class="form-control" @bind="Record.Description" />
        </div>
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
    <button type="button" class="btn btn-secondary" @onclick="OnCancelClick">Cancelar</button>
</EditForm>