@page "/reminder/add"
@inherits AddBase

<h1>Agregar recordatorio</h1>

<EditForm Model="@Record" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-row">
        <div class="col form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" @bind="Record.Name" />
        </div>
        <div class="col form-group">
            <label>Email</label>
            <input type="email" class="form-control" @bind="Record.Email" />
        </div>
        <FormSelectRecord @bind-Value="Record.PeopleId" Records="Record.Peoples" Title="Entidades"></FormSelectRecord>
    </div>

    <div class="form-row">
        <div class="col form-group">
            <label>Cada</label>
            <input type="datetime-local" class="form-control" @bind="Record.RecurrentOn" step="1" />
        </div>
        <FormSelectEnum @bind-Value="Record.ReminderFrequency" Records="ReminderFrequencies" Title="Frecuencia"></FormSelectEnum>
    </div>

    <div class="form-row">
        <div class="col form-group">
            <label>Descripcion</label>
            <textarea rows="5" class="form-control" @bind="Record.Description"></textarea>
        </div>
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
    <button type="button" class="btn btn-secondary" @onclick="OnCancelClick">Cancelar</button>
</EditForm>