@page "/report/general"
@inherits GeneralBase

<h1>Reporte general</h1>

<form>
    <div class="form-row">
        <FormSelectRecord @bind-Value="Record.Id" Records="Record.Enterprises" Title="Empresas"></FormSelectRecord>
    </div>

    <a href="api/Report/BaseEnterpriseReport?id=@(Record.Id)" download="BaseEnterpriseReport_@(DateTime.Now.ToShortDateString()).xlsx" target="_top" class="btn btn-success">
        <span class="oi oi-data-transfer-download"></span> Descargar
    </a>
</form>