@page "/report/general"
@inherits GeneralBase

<h1>Reporte general</h1>

<form>
    <div class="form-row">
        <FormSelectRecord @bind-Value="Record.Id" Records="Record.Enterprises" Title="Empresas"></FormSelectRecord>
    </div>

    <a href="api/Report/SimpleBaseEnterpriseReport?id=@(Record.Id)" download target="_top" class="btn btn-success">
        <span class="oi oi-data-transfer-download"></span> Descargar
    </a>
    <a href="api/Report/DetailBaseEnterpriseReport?id=@(Record.Id)" download target="_top" class="btn btn-primary">
        <span class="oi oi-data-transfer-download"></span> Descargar detalle
    </a>
</form>